body {
	font-family: Roboto, sans-serif;
	color: #212121;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
:root{
	--first-title-color:#212121;
	--second-title-color: #ffffff;
	--first-text-color: #757575;
	--first-btn-color: #f5f4fa;
	--second-btn-color: #2196f3;
	--accent-color: #2196f3;
	--first-background-color: #2F303A;
	--second-backround-color: #f5f4fa;

}
/* <!--verhnya liniya--> */
.logo-web {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}
.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #000000;
}

.logo-foter {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}

.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--first-title-color);
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}
.current {
	color: var(--accent-color);
}

.header-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--first-text-color);
}

.header-mail{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--first-text-color);
}
.header-mail:hover {
	color: var(--accent-color);
}
.header-mail:focus {
	color: var(--accent-color);
}

	/*<!--hero-->*/

.hero {
	background-color: var(--first-background-color);
}
.hero-title {
	font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--second-title-color);
}
.hero-btn {
	cursor: pointer;
	background-color: #2196f3;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--second-title-color);
}
.hero-btn:hover {
	background-color: #188CE8;
}
.hero-btn:focus {
	background-color: #188CE8;
}


.hang-title {
	font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--first-title-color);
}
.hang-text {
	font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--first-text-color);
}
 /*<!--work-->*/
.work-title {
	font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
color: var(--first-title-color);
}
 /*<!--team-->*/
 .team{
	background-color: var(--second-backround-color);
 }
.team-title {
	font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: var(--first-title-color);
}
.team-item-title {
	font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--first-title-color);
}
.team-after-title {
	font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
color: var(--first-text-color);
}
/*<!--footer-->*/
.footer {
	background-color: #2F303A;
}
.address-maps {
	font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-title-color);
}
.address-mail {
	font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.address-tel{
	font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.contact-addres{font-style: normal;}

/*<!--projects portfolio-->*/
.portfolio-btn {
	cursor: pointer;
	background-color: var(--first-btn-color);
	font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--first-title-color);
}
.portfolio-btn:hover{
	background-color: var(--second-btn-color);
	color: #FFFFFF;}
.projects-title { font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--first-title-color);
}
.projects-after-title {
	font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: var(--first-text-color);
}